.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
    background: lightblue;
}

.circle-body {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
    background: lightblue;
}

.circle-debugger{
    position: absolute;
    z-index: 1000;
    width: 5px;
    height: 5px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
    background: red;
}